# Chapter 2 Examples

## Load Libraries

In [1]:
suppressMessages(library(readxl))
suppressMessages(library(ggplot2))
suppressMessages(library(ggpubr))
suppressMessages(library(tidyverse))
suppressMessages(library(broom))
suppressMessages(library(AICcmodavg))

### 2.1

In [2]:
dataTable <- read_excel('../linear_regression_5e_data_sets/Chapter 2/Examples/data-ex-2-1 (Rocket Prop).xls')

df <- data.frame(y=dataTable$'Shear Strength, yi (psi)', x=dataTable$'Age of Propellant, xi (weeks)')

head(df)

  y       x
1 2158.70 15.50
2 1678.15 23.75
3 2316.00  8.00
4 2061.30 17.00
5 2207.50  5.50
6 1708.30 19.00

In [3]:
Rocket.lm <- lm(y ~ x, data=df)
print(Rocket.lm)

Call:
lm(formula = y ~ x, data = df)

Coefficients:
(Intercept)            x
    2627.82       -37.15

In [4]:
summary(Rocket.lm)

Call:
lm(formula = y ~ x, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-215.98  -50.68   28.74   66.61  106.76

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 2627.822     44.184   59.48  < 2e-16 ***
x            -37.154      2.889  -12.86 1.64e-10 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 96.11 on 18 degrees of freedom
Multiple R-squared:  0.9018,	Adjusted R-squared:  0.8964
F-statistic: 165.4 on 1 and 18 DF,  p-value: 1.643e-10

In [5]:
Rocket.anova <- anova(Rocket.lm)
print(Rocket.anova)

Analysis of Variance Table

Response: y
          Df  Sum Sq Mean Sq F value    Pr(>F)
x          1 1527483 1527483  165.38 1.643e-10 ***
Residuals 18  166255    9236
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

### 2.2

In [6]:
Rocket.anova['Residuals','Mean Sq']

[1] 9236.381

### 2.3

In [7]:
summary(Rocket.lm)$coefficients['x','t value']

[1] -12.85989

### 2.4

In [8]:
# IF the observed value of F_0 is large, then it is likely that the slope beta_1 <> 0
# Therefore to test the hypothesis H_0: Beta_1 =0, compute the test statistic F_0 and
# reject H_0 if F_0 > F_alpha,1,n-2

In [9]:
# Calculate the F-Distribution
Df1 <- anova(Rocket.lm)['x','Df']
Df2 <- anova(Rocket.lm)['Residuals','Df']
F_0 <- qf(.99, df1=Df1, df2=Df2)

In [10]:
F_value <- anova(Rocket.lm)['x','F value']

In [11]:
RejectNull <- (F_value > F_0)
print(RejectNull)

[1] TRUE

### 2.5

In [12]:
# Confidence Interval on the slope
confint(Rocket.lm, level=0.95)['x',]

    2.5 %    97.5 %
-43.22338 -31.08380

In [13]:
# Confidence Interval on the variance
conf_level <- .95
conf_level_half <- (1 - conf_level) / 2

In [14]:
Rocket.anova['Residuals','Mean Sq']*Df2 / qchisq(1 - conf_level_half, Df2)
Rocket.anova['Residuals','Mean Sq']*Df2 / qchisq(conf_level_half, Df2)

[1] 5273.516

[1] 20199.24

### 2.6

In [15]:
predict(Rocket.lm, data.frame(x=c(13.3625)), interval="confidence", level=0.95)

  fit      lwr      upr
1 2131.357 2086.209 2176.506

### 2.7

In [16]:
predict(Rocket.lm, data.frame(x=c(10)), interval="predict", level=0.95)

  fit      lwr      upr
1 2256.286 2048.385 2464.188

### 2.8

In [17]:
dataTable <- read_excel('../linear_regression_5e_data_sets/Chapter 2/Examples/data-ex-2-8 (Shelf-Stocking).xls')

df <- data.frame(y=dataTable$'Time, y (minutes)', x=dataTable$'Cases Stocked, x')

head(df)

  y     x
1 10.15 25
2  2.96  6
3  3.00  8
4  6.88 17
5  0.28  2
6  5.06 13

In [18]:
Stocking.lmNoInt <- lm(y ~ 0 + x, data=df)

In [19]:
Stocking.lm <- lm(y ~ x, data=df)

In [20]:
summary(Stocking.lmNoInt)

Call:
lm(formula = y ~ 0 + x, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-0.5252 -0.2198 -0.1202  0.1070  0.5443

Coefficients:
  Estimate Std. Error t value Pr(>|t|)
x 0.402619   0.004418   91.13   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2988 on 14 degrees of freedom
Multiple R-squared:  0.9983,	Adjusted R-squared:  0.9982
F-statistic:  8305 on 1 and 14 DF,  p-value: < 2.2e-16

In [21]:
anova(Stocking.lmNoInt)
summary(Stocking.lmNoInt)$r.squared

          Df Sum Sq     Mean Sq      F value  Pr(>F)
x          1 741.615371 741.61537058 8305.232 8.012367e-21
Residuals 14   1.250129   0.08929496       NA           NA

[1] 0.9983172

In [22]:
anova(Stocking.lm)
summary(Stocking.lm)$r.squared

          Df Sum Sq     Mean Sq      F value  Pr(>F)
x          1 228.317573 228.31757324 2452.134 3.398506e-16
Residuals 13   1.210427   0.09310975       NA           NA

[1] 0.9947265

### 2.9

In [23]:
dataTable <- read_excel('../linear_regression_5e_data_sets/Chapter 2/Examples/data-ex-2-9 (Delivery Time).xls')

df <- data.frame(y=dataTable$'Delivery Time, y', x=dataTable$'Number of Cases, x')

head(df)

  y     x
1 16.68 7
2 11.50 3
3 12.03 3
4 14.88 4
5 13.75 6
6 18.11 7

In [24]:
cor(df$x, df$y)

[1] 0.9646146

In [25]:
cor.test(df$x, df$y)

	Pearson's product-moment correlation

data:  df$x and df$y
t = 17.546, df = 23, p-value = 8.22e-15
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.9202275 0.9845031
sample estimates:
      cor
0.9646146

In [30]:
t_0 <- qt(.975, df=23)
print(t_0)

[1] 2.068658

In [27]:
t_value <- unname(cor.test(df$x, df$y)$statistic)
print(t_value)

[1] 17.54555

In [28]:
unname(cor.test(df$x, df$y)$statistic)

[1] 17.54555

In [29]:
RejectNull <- (t_value > t_0)
print(RejectNull)

[1] TRUE